<nav>
    <ul>
        <li><a routerLink = "login" routerActivate = "active">login</a></li>
        <li><a routerLink = "register" routerActivate = "active">register</a></li>
        <li><a routerLink = "forgot-password" routerActivate = "active">forgot-password</a></li>
        <li><a routerLink = "user" routerActivate = "active">user</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>
<!-- 
<app-login></app-login>
<app-register></app-register>
<app-forgot-password></app-forgot-password>
<app-user></app-user> -->